@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
a,
span,
div {
  font-family: "Montserrat", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Chiều rộng scrollbar */
  height: 6px; /* Chiều cao scrollbar cho scroll ngang */
}

::-webkit-scrollbar-track {
  background: transparent; /* Màu nền của track */
}

::-webkit-scrollbar-thumb {
  background: #000000; /* Màu đen cho thumb */
  border-radius: 3px; /* Bo tròn góc */
}

::-webkit-scrollbar-thumb:hover {
  background: #333333; /* Màu khi hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 transparent;
}

/* Nếu bạn muốn áp dụng riêng cho một element cụ thể, ví dụ sidebar filter */
.filter-sidebar {
  /* Các thuộc tính tương tự như trên */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #333333;
  }
}

.slick-dots {
  bottom: -100px; /* Adds 100px space below the slider */
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-slider {
  margin-inline: -30px;
}

.slick-slide {
  > div {
    margin-inline: 15px;
  }
}

.loader div {
  animation-duration: 0.8s;
}

.loader div:first-child {
  animation-delay: 0.2s;
}

.loader div:nth-child(2) {
  animation-delay: 0.4s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}
